@media only screen and (width >= 1441px) {
  .background {
    background-image: url("/src/assets/shared/desktop/bg-pattern-leaf.svg"),
      url("/src/assets/shared/desktop/bg-pattern-leaf.svg");
    background-repeat: no-repeat;
    background-position: 0 320px, calc(100% + 396px) 1622px;
  }
}
