.card {
  padding: 64px 24px;
  margin: 0 24px;
  background-color: var(--peach);
  background-image: url("/src/assets/shared/desktop/bg-pattern-call-to-action.svg");
  background-position: calc(50% + 30px) 50%;
  background-repeat: no-repeat;
  border-radius: 15px;
  position: relative;
  z-index: 10;
  position: relative;
  text-align: center;
}
.card h2 {
  font-size: 32px;
  font-weight: 500;
  color: var(--white);
  line-height: 36px;
  margin-bottom: 16px;
}
.card p {
  font-size: 15px;
  font-weight: 400;
  color: var(--white);
  line-height: 25px;
  margin-bottom: 32px;
}

.main {
  /* Make space for call to action */
  padding-top: 253px;
  margin-top: -189px;
  padding-inline: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--black);
}
.text-link {
  display: block;
  padding-bottom: 1px; /* compensate for the appearing border on hover */
}
.text-link:hover {
  padding-bottom: 0;
  border-bottom: 1px solid rgb(92, 92, 92);
}
.logo-nav-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo {
  width: 202px;
}
.line {
  margin-block: 32px;
  height: 1px;
  background-color: rgba(151, 151, 151, 0.3);
  width: 100%;
  border: none;
}
.nav {
  margin-bottom: 40px;
}
.nav ul {
  display: flex;
  flex-direction: column;
  gap: 32px;
  text-align: center;
  letter-spacing: 2px;
  line-height: 14px;
}
.nav a {
  font-size: 14px;
  text-transform: uppercase;
  color: var(--white);
  font-weight: 400;
}
.address-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 40px;
}
.address strong {
  text-align: left;
}

.social-icons {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 64px;
}
.social-icons a {
  color: #e7816b;
}
.social-icons a:hover {
  color: var(--light-peach);
}

.link {
  display: block;
  width: fit-content;
  margin-inline: auto;
}
.tablet-line {
  display: none;
  margin-block: 32px;
  height: 1px;
  background-color: rgba(151, 151, 151, 0.3);
  width: 100%;
  border: none;
}

/* class to apply for main if there is no cta */
.smaller-main {
  padding-top: 64px !important;
  margin-top: 0 !important;
}
@media only screen and (width >= 768px) {
  .card {
    margin: 0 40px;
    padding: 57px 118px;
    background-position: calc(50% + 67px) 50%;
  }
  .card h2 {
    font-size: 40px;
    line-height: 40px;
    padding-inline: 58px;
  }
  .card p {
    font-size: 16px;
    line-height: 26px;
  }
  .main {
    padding-top: 166px;
    margin-top: -86px;
    padding-inline: 39px;
    padding-bottom: 80px;
  }
  .logo-nav-container {
    flex-direction: row;
    justify-content: space-between;
  }
  .line {
    display: none;
  }
  .tablet-line {
    display: block;
  }
  .nav {
    margin-bottom: 0;
  }
  .nav ul {
    flex-direction: row;
    gap: 42px;
  }
  .info-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .social-icons {
    margin-bottom: 0;
    margin-top: auto;
    height: fit-content;
  }
  .address-container {
    flex-direction: row;
    margin-bottom: 0;
  }
  .contact-address ol {
    font-weight: 500;
  }

  .address,
  .address ol {
    text-align: left;
  }
  .address strong {
    display: block;
  }
  /* class to apply for main if there is no cta */
  .smaller-main {
    padding-top: 80px !important;
    margin-top: 0 !important;
  }
}
@media only screen and (width >= 1441px) {
  .card {
    display: flex;
    align-items: center;
    text-align: left;
    margin-inline: 160px;
    justify-content: space-between;
    padding: 72px 95px;
    background-position: calc(50% + 120px) 50%;
  }
  .card h2 {
    padding-inline: 0;
    padding-right: 191px;
  }
  .card p {
    margin-bottom: 0;
  }
  .text {
    width: 50%;
  }
  .link {
    margin-inline: 0;
  }
  .address-container {
    gap: 205px;
  }
  .main {
    padding-inline: 165px;
  }
}
