.card {
  padding: 64px 24px;
  margin: 0 24px;
  background-color: var(--peach);
  background-image: url("src/assets/shared/desktop/bg-pattern-call-to-action.svg");
  background-size: 295%;
  background-position: 44% 52%;
  background-repeat: no-repeat;
  border-radius: 15px;
  position: relative;
  z-index: 10;
  position: relative;
}
.card h2 {
  font-size: 32px;
  font-weight: 500;
  color: var(--white);
  line-height: 36px;
  text-align: center;
  margin-bottom: 16px;
}
.card p {
  font-size: 15px;
  font-weight: 400;
  color: var(--white);
  line-height: 25px;
  text-align: center;
  margin-bottom: 32px;
}

.main {
  /* Make space for call to action */
  padding-top: 253px;
  margin-top: -189px;
  padding-inline: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--black);
}
.logo {
  width: 202px;
}
.line {
  margin-block: 32px;
  height: 1px;
  background-color: rgba(151, 151, 151, 0.3);
  width: 100%;
  border: none;
}
.nav {
  margin-bottom: 40px;
}
.nav ul {
  display: flex;
  flex-direction: column;
  gap: 32px;
  text-align: center;
  letter-spacing: 2px;
  line-height: 14px;
}
.nav a {
  font-size: 14px;
  text-transform: uppercase;
  color: var(--white);
  font-weight: 400;
}
.address-container {
  display: grid;
  gap: 40px;
  margin-bottom: 40px;
}

.social-icons {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 64px;
}

.link {
  display: block;
  width: fit-content;
  margin-inline: auto;
}
