.mainContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.imgInCircle {
  width: 202px;
  height: 202px;
  position: relative; /* Keep absolutely positioned element within container */
  margin-bottom: 48px;
}
.title {
  color: var(--black);
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 5px;
  text-transform: uppercase;

  margin-bottom: 32px;
}
