.intro-img {
  height: 320px;
  background-image: url("/src/assets/about/mobile/image-about-hero.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.intro {
  background-repeat: no-repeat;
  padding: 80px 24px;
  background-color: var(--peach);
  background-image: url("/src/assets/about/mobile/bg-pattern-hero-about-mobile.webp");
  background-position: calc(50% - 250px) -140px; /* 250px left from center, 140px up */

  color: var(--white);
  text-align: center;
}
.intro h1 {
  font-weight: 500;
  font-size: 32px;
  line-height: 36px;

  margin-bottom: 24px;
}
.intro p {
  font-size: 15px;
  line-height: 25px;
  font-weight: 300;
}
@media only screen and (width >= 768px) {
  .section {
    margin-inline: 40px;
  }
  .intro-img {
    border-radius: 15px 15px 0 0;
    background-image: url("/src/assets/about/tablet/image-about-hero.webp");
  }
  .intro {
    border-radius: 0 0 15px 15px;
    padding: 64px 58px;
    background-image: none;
    background-size: 640px;
    background-position: -122px -410px;

    position: relative;
    overflow: hidden;
    z-index: 0;
    margin-bottom: 120px;
  }
  .intro-bg {
    background-image: url("/src/assets/shared/desktop/bg-pattern-small-circle.webp");
    background-size: contain;
    min-width: 640px;
    min-height: 640px;
    position: absolute;
    z-index: -5;
    top: 0;
    left: calc(50% - 455px);
    top: -430px;
    rotate: -135deg;
  }

  .intro h1 {
    font-size: 48px;
    line-height: 48px;
  }
  .intro p {
    font-size: 16px;
    line-height: 26px;
  }
}

@media only screen and (width >= 1300px) {
  .section {
    margin-inline: 165px;
    display: flex;
    flex-direction: row-reverse;
    height: 480px;

    margin-bottom: 160px;
  }
  .intro {
    margin: 0;
    display: flex;
    align-items: center;
    text-align: left;
    padding-left: 95px;
    border-radius: 15px 0 0 15px;
    background-image: url("/src/assets/about/desktop/bg-pattern-hero-about-desktop.webp");
    background-position: 100% 100%;
  }
  .intro h1 {
    margin-bottom: 32px;
  }
  .intro-bg {
    background-image: none;
  }
  .intro-img {
    width: 41%;
    flex: none;
    height: 100%;
    background-image: url("/src/assets/about/desktop/image-about-hero.webp");
    border-radius: 0 15px 15px 0;
  }
}
