.img {
  background-image: url("/src/assets/about/desktop/image-real-deal.jpg");
}
.section {
  margin-bottom: 120px;
}

@media only screen and (width >= 768px) {
  .img {
    background-image: url("/src/assets/about/tablet/image-real-deal.jpg");
  }
}
@media only screen and (width >= 1441px) {
  .img {
    background-image: url("/src/assets/about/desktop/image-real-deal.jpg");
  }
  .section {
    margin-bottom: 160px;
  }
  .text {
    background-image: url("/src/assets/shared/desktop/bg-pattern-two-circles.svg");
    background-position: calc(50%) 100%;
  }
}
