.img {
  background-image: url("/src/assets/images/about/desktop/image-real-deal.webp");
}
.section {
  margin-bottom: 120px;
}

@media only screen and (width >= 768px) {
  .img {
    background-image: url("/src/assets/images/about/tablet/image-real-deal.webp");
  }
}
@media only screen and (width >= 1300px) {
  .img {
    background-image: url("/src/assets/images/about/desktop/image-real-deal.webp");
  }
  .section {
    margin-bottom: 160px;
  }
  .text {
    background-image: url("/src/assets/images/shared/desktop/bg-pattern-two-circles.svg");
    background-position: 50% 100%;
  }
}
