.img {
  background-image: url("/src/assets/about/mobile/image-world-class-talent.jpg");
}
@media only screen and (width >= 768px) {
  .img {
    background-image: url("/src/assets/about/tablet/image-world-class-talent.jpg");
  }
}
@media only screen and (width >= 1441px) {
  .img {
    background-image: url("/src/assets/about/desktop/image-world-class-talent.jpg");
  }
  .text {
    background-position: calc(-140px) 100%;
    background-size: 584px;
  }
}
