@media only screen and (width >= 1441px) {
  .background {
    background-image: url("/src/assets/shared/desktop/bg-pattern-leaf.svg");
    background-repeat: no-repeat;
    background-position: 100% 730px; /* distance from top is the distance from figma subtracted by the height of the header */
  }
}
