.address {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.address strong {
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
}
.bottom-section {
  margin-bottom: 120px;
}

@media only screen and (width >= 768px) {
  .address {
    flex-direction: row;
    width: 446px;
    justify-content: space-between;
  }
}

@media only screen and (width >= 1300px) {
  .reversedSection {
    flex-direction: row-reverse;
    justify-content: start;
  }
  .bottom-section {
    margin-bottom: 160px;
  }
}
