.intro-text {
  padding-block: 80px;
  padding-inline: 24px;
}
.intro {
  background-image: url("src/assets/home/desktop/bg-pattern-hero-home.svg");
  background-repeat: no-repeat;
  background-position: 0 102px;
  background-color: var(--peach);
  height: 843px; /* Fixed height to determine where phone is cropped */
  overflow: hidden;
}
.intro h1 {
  text-align: center;
  color: white;
  font-size: 32px;
  line-height: 36px;
  margin-bottom: 14px;
}
.intro p {
  text-align: center;
  color: white;
  font-size: 15px;
  line-height: 25px;
  margin-bottom: 24px;
}
.intro button {
  margin-inline: auto;
  display: block;
}
.phone {
  object-fit: cover; /* prevent stretch */
  height: 913px;
  margin-block: -170px; /* allow content to go onto the phone image */
  max-width: 100%;
}
