.button {
  font-family: "Jost";
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 20px;
  border-radius: 8px;
  width: fit-content;
  display: block;
  min-width: 152px;
  box-sizing: border-box;
}
.light {
  background-color: var(--peach);
  color: white;
}
.dark {
  background-color: var(--white);
  color: var(--black);
}
.button:hover {
  background-color: var(--light-peach);
  color: var(--white);
}
