.imgContainer {
  width: 202px;
  height: 202px;
  position: relative; /* Keep absolutely positioned element within container */
}
.circle {
  background-image: url("/src/assets/shared/desktop/bg-pattern-small-circle.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 202px;
  height: 202px;
}
.img {
  position: absolute;
  top: 0;
  left: 0;
}
