.input {
  --padding-down: 12px;

  width: 100%;
  font-size: 15px;
  font-weight: 400;
  color: white;
  border: 0;
  outline: 0;
  padding-left: 24px;
  padding-bottom: 12px;
  background-color: transparent;
  box-sizing: border-box;

  border-bottom: 1px solid var(--white);
  padding-bottom: calc(var(--padding-down) + 1px);
  font-family: "Jost";
  box-sizing: border-box;
}
.input::placeholder {
  color: hsla(0, 100%, 100%, 0.5);
  font-size: 15px;
  line-height: 26px;
}
.input:focus {
  border-bottom: 2px solid var(--white);
  padding-bottom: var(--padding-down);
}
.error-msg {
  position: absolute;
  right: 0;
  font-size: 12px;
  line-height: 26px;
  display: flex;
  align-items: center;
  font-style: italic;
  gap: 8px;
}
.error-img {
  width: 20px;
  height: 20px;
}
.textarea {
  height: 102px;
  box-sizing: border-box;
  resize: none;
}
.inputContainer {
  position: relative; /* cointain absolutely positioned error */
}
