.main {
  background-image: url("/src/assets/images/shared/desktop/bg-pattern-leaf.svg");
  background-repeat: no-repeat;
  background-position: 0 100px;
}

@media only screen and (width >= 1300px) {
  .background-pattern {
    background-image: url("/src/assets/images/graphic-design/desktop/bg-pattern-intro-graphic.svg");
    background-position: -61px 50%;
  }
}
