:root {
  /* PRIMARY COLORS */
  --peach: rgb(231, 129, 107);
  --black: rgb(29, 28, 30);
  --white: rgb(255, 255, 255);

  /* SECONDARY COLORS */
  --light-peach: rgb(255, 173, 155);
  --very-light-peach: #fdf3f0;
  --dark-grey: rgb(51, 49, 54);
  --light-grey: rgb(241, 243, 245);

  --saturated-peach: rgb(181, 78, 56);
  --header-margin-block: 0px;
  --header-height: 96px;
}

body {
  overflow-x: hidden;
}
input,
textarea {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* FONTS */
@font-face {
  font-family: "Jost";
  src: url("/src/assets/fonts/Jost-Medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Jost";
  src: url("/src/assets/fonts/Jost-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Jost";
  src: url("/src/assets/fonts/Jost-Light.woff2") format("woff2");
  font-weight: 300;
}
body {
  font-family: "Jost";
  position: relative; /* correctly position absolute elements */
}

@media only screen and (width >= 768px) {
  :root {
    --header-margin-block: 59px;
  }
}
