.wrapper {
  z-index: 20;
  width: 100%;
}
.header {
  height: 96px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
  padding-inline: 24px;
  background-color: var(--white);
}
.logo {
  width: 202px;
  height: 27px;
}

.hamburger {
  width: 24px;
  height: 20px;
}
.hamburger:hover {
  cursor: pointer;
}
